<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/cover.css" rel="stylesheet">
    <link href="../static/css/custom_cover.css" rel="stylesheet">
    
  </head>

  <body>

    
    <div class="site-wrapper">
      
      <div class="site-wrapper-inner">
      
        <div class="cover-container">
        
          <div class="masthead clearfix">
            
            
            <h1 class="cover-heading">pls respond</h1>
          </div>

           

          <div class="inner cover" id="main-div">
  


          </div>
          
          <div class="mastfoot">
            <div class="inner">
              <ul class="nav masthead-nav">
                <li class=""><a href="/">Home</a></li>
                <!-- <li><a href="javascript:void();" id="about-href">About</a></li> -->
              </ul>
            </div>
          </div>

          
        </div>
        
      </div>
      
    </div>

        
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='../static/bower_components/jquery/jquery.min.js'></script>
    <script src='../static/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='../static/js/main.js'></script>
    <script type=text/javascript> 
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; 
    </script>

  </body>
  
</html>
